
{{ form_start(form,{'attr': {'novalidate': 'novalidate' }})}}
    {{ form_widget(form) }}

<button type="submit" id="form_submit_button"class="form_submit_button button trans_200">{{ button_label|default('Confirmer') }}<span></span><span></span><span></span></button>


{{ form_end(form) }}
